#navbarNav {
  justify-content: flex-end;
  margin-right: 4%;
}
#bHide {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
}
#projIMG {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
  margin-top: 5%;
}
#projWords {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  text-align: center;
  margin-left: 23%;
  margin-right: 23%;
  margin-top: 1%;
}

@media screen and (max-width: 990px) {
  .keyImage {
    width: 90%;
  }
  .homeH1 {
    margin: 1%;
  }
  .homeP {
    margin: 1%;
  }
  .aboutH1 {
    text-align: center;
  }
  #projIMG {
    width: 90%;
  }
  #projWords {
    margin-left: 6%;
    margin-right: 6%;
  }
  .sign {
    margin: 2vh 10px;
  }
  #deconstructed {
    font-size: 4vw;
  }
}

/* flicker test */

@font-face {
  font-family: "Montserrat", sans-serif;
  src: url("https://acupoftee.github.io/fonts/Clip.ttf");
}

body {
  background-size: 58px 58px;
}

.sign {
  letter-spacing: 2;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  font-size: 32px;
  color: #ffe6ff;
  text-shadow: 0 0 0.6rem #939090, 0 0 1.5rem #939090,
    -0.2rem 0.1rem 1rem #939090, 0.2rem 0.1rem 1rem #edf1cf,
    0 -0.5rem 2rem #939090, 0 0.5rem 3rem #939090;
  animation: shine 2s forwards, flicker 3s infinite;
}

@keyframes blink {
  0%,
  22%,
  36%,
  75% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #edf1cf,
      -0.2rem 0.1rem 1rem #edf1cf, 0.2rem 0.1rem 1rem #edf1cf,
      0 -0.5rem 2rem #edf1cf, 0 0.5rem 3rem #edf1cf;
  }
  28%,
  33% {
    color: #939090;
    text-shadow: none;
  }
  82%,
  97% {
    color: #939090;
    text-shadow: none;
  }
}

.flicker {
  animation: shine 2s forwards, blink 3s 2s infinite;
}

.fast-flicker {
  animation: shine 2s forwards, blink 10s 1s infinite;
}

@keyframes shine {
  0% {
    color: #edf1cf;
    text-shadow: none;
  }
  100% {
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #edf1cf,
      -0.2rem 0.1rem 1rem #edf1cf, 0.2rem 0.1rem 1rem #edf1cf,
      0 -0.5rem 2rem #939090, 0 0.5rem 3rem #939090;
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}

/* glitch test */
.deconstructed {
  position: relative;
  margin: auto;
  height: 8vh;
  color: transparent;
  margin-top: 2vh;
  font-size: 2vw;
  font-weight: 200;
  letter-spacing: -0.02em;
  line-height: 1.03em;
}

.deconstructed > div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #edf1cf;
  pointer-events: none;
}

.deconstructed > div:nth-child(1) {
  -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
  mask-image: linear-gradient(black 25%, transparent 25%);
  animation: deconstructed1 5s infinite;
}

.deconstructed > div:nth-child(2) {
  -webkit-mask-image: linear-gradient(
    transparent 25%,
    black 25%,
    black 50%,
    transparent 50%
  );
  mask-image: linear-gradient(
    transparent 25%,
    black 25%,
    black 50%,
    transparent 50%
  );
  animation: deconstructed2 5s infinite;
}

.deconstructed > div:nth-child(3) {
  -webkit-mask-image: linear-gradient(
    transparent 50%,
    black 50%,
    black 75%,
    transparent 75%
  );
  mask-image: linear-gradient(
    transparent 50%,
    black 50%,
    black 75%,
    transparent 75%
  );
  animation: deconstructed3 5s infinite;
}

.deconstructed > div:nth-child(4) {
  -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
  mask-image: linear-gradient(transparent 75%, black 75%);
  animation: deconstructed4 5s infinite;
}

@keyframes deconstructed1 {
  0% {
    transform: translateX(100%);
  }
  26% {
    transform: translateX(0%);
  }
  83% {
    transform: translateX(-0.1%);
  }
  100% {
    transform: translateX(-120%);
  }
}

@keyframes deconstructed2 {
  0% {
    transform: translateX(100%);
  }
  24% {
    transform: translateX(0.5%);
  }
  82% {
    transform: translateX(-0.2%);
  }
  100% {
    transform: translateX(-125%);
  }
}

@keyframes deconstructed3 {
  0% {
    transform: translateX(100%);
  }
  22% {
    transform: translateX(0%);
  }
  81% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-130%);
  }
}

@keyframes deconstructed4 {
  0% {
    transform: translateX(100%);
  }
  20% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-135%);
  }
}

/* about tester */
.about-test {
  border-right: solid 3px #edf1cf;
  white-space: nowrap;
  overflow: hidden;

  color: #edf1cf;
}
.about-test2 {
  border-right: solid 3px #edf1cf;
  white-space: nowrap;
  overflow: hidden;
  font-size: 20px;
  color: #edf1cf;
}

/* Animation */
.about-test {
  animation: animated-text 1s steps(29, end) 500ms 1 normal both;
}
.about-test2 {
  animation: animated-text2 1s steps(29, end) 1.5s 1 normal both;
}

/* text animation */

@keyframes animated-text {
  from {
    width: 0;
  }
  to {
    width: 350px;
  }
}
@keyframes animated-text2 {
  from {
    width: 0;
  }
  to {
    width: 350px;
  }
}
